<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
  <test verbose="2" preserve-order="true" name="/home/nazarii/IdeaProjects/IF-144-TA">
    <classes>
      <class name="com.softserveinc.ita.tests.SearchResultsTest">
        <methods>
          <include name="demoTest"/>
        </methods>
      </class>
    </classes>
  </test>
</suite>